.prob{ 
position: absolute;
text-align: center;
margin-top: 6%;
margin-left: 32%;
padding: 1.2rem;
width: 630px;
height: 420px;
z-index: 2;
}
.preloader { opacity: .5;
  position: fixed;
  left: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #e0e0e0;
  z-index: 3;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

